.buttonsClassAddToCartButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 8px;
    margin-bottom: 8px;
}

.changAmount {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}

.addToCart {
    display: flex;
    justify-content: center;
}

.button {
    min-width: 122px; 
}

.plus {
    background-color: #dd6e6e;
}

.minus {
    background-color: #53d4ff;
}

.add {
    background-color: #9befd7;
}

.remove {
    background-color: #e0b0ff;
}