.itemInCart {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5px 5px;
    border-bottom: 1px solid black;
}

.productProperty {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.changeAmount {
    display: flex;
    justify-content: center;
    align-items: center;
}

.addSubtractCartContainer {
    display: flex;
    justify-content: center;
}

.addSubtractButton {
    min-width: 33px;
}

.plus {
    background-color: #dd6e6e;
}

.minus {
    background-color: #53d4ff;
}

.remove {
    background-color: #e0b0ff;
}